<div class="jumbotron text-center">
  <h1 changeText>
    Welcome to {{ title | lowercase }} !
  </h1>
  {{todaydate | date : 'dd/MM/yyyy'}}
  {{componentproperty}}
  <div>
    <span *ngIf="isavailable; then condition1 else condition2"></span>
    <ng-template #condition1>Unclicked</ng-template>
    <ng-template #condition2>Clicked</ng-template>
  </div>
  <button class="btn btn-primary" (click)="myClickFunction($event)">
    Click Me
  </button>
</div>


<!--app-new-cmp></app-new-cmp-->


<nav class="nav justify-content-center">
  <a class="nav-link active" routerLink = "new-cmp">New component</a>
  <a class="nav-link" routerLink = "form">Form</a>
  <a class="nav-link" routerLink = "animate">Animate</a>
</nav>


<router-outlet> </router-outlet>


